<%= link_to 'Patient List', patients_path %>

<h1>All Doctors</h1><hr />
<%= link_to 'Add New Doctor', new_doctor_path %><hr />


  <% @doctors.each do |doctor| %>
    <%= link_to doctor.last_name, doctor_path(doctor.id) %><br />
    <% end %>
