<h1>Add a New Doctor</h1>
  
  <%= form_with(model: @doctor, local: true ) do |f| %>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true, placeholder: "Last Name", autofocus: true %>
  </div>
  <%= f.submit %>
<% end %>

